{% ckan_extends %}

{% block form_fields %}
  {{ super() }}
  <div class="ddict-geocode collapse">
    {{ form.select('info__' ~ position ~ '__geocode',
      label=_('Geocode'), options=[
      {'value': '', 'text': ''},
      {'value': 'address', 'text': 'IN: Address Line 1'},
      {'value': 'city', 'text': 'IN: City'},
      {'value': 'postal', 'text': 'IN: Zip Code'},
      {'value': 'lat', 'text': 'OUT: Latitude'},
      {'value': 'lng', 'text': 'OUT: Longitude'},
      ], selected=field.get('info', {}).get('geocode', '')) }}
  </div>
{% endblock %}
